@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* poems and songs */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* end of poems and songs */

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* end of letters */

/* prologue footer */
#prologue [epub|type~="z3998:sender"]{
	text-align: right;
}
/* end of prologue footer */

/* chp 2-5 letter */
#chapter-2-5 [epub|type~="z3998:salutation"]{
	font-style: italic;
	text-align: center;
	text-indent: 0;
}

#chapter-2-5 [epub|type~="z3998:salutation"] + p{
	margin-top: 1em;
	text-indent: 0;
}
/* end of chp 2-5 letter */
